body{
    
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid black; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li{
    list-style: none;
}
a:link{
    color:black;
    text-decoration: none;
}
a:hover{
    color: blue;
    text-decoration: underline;
}
a:visited{
    color: black;
}
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.menus{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
}
.ham-burger{
    padding:8px;
    border: 1px solid gainsboro;
    border-radius: 8px;
}
.ham-burger svg{
    color: black;
    width:24px;
    height: 24px;
}
.frame{
    background: url(/Asset/Laptop.jpg);
    height: 300px;
    opacity: 0.9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.best{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-family: "Poppins-SemiBold", Helvetica;
    text-align: center;
    font-size: 30px;
}
.hub{
    color: #ffffff;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
}
.header_link{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
.discover{
    color: white;
    background-color: blue;
    padding: 8px;
    border-radius: 15px;
    font-size: 12px;
}
.number{
    color: white;
    padding: 8px;
    text-decoration: underline;
    font-size: 12px;
}
.core{
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: center;
    width: f;
    
}
.words{
    flex-direction: row;
    border: 1px solid blue;
    border-radius: 9px;
    padding: 20px;
    margin: 20px;
}
.word{
    font-weight: bolder;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 19px;
    text-align: center;
}
.hubs{
    font-size: 10px;
    text-align: center;
    font-family: "Inter-Regular", Helvetica;
}
.years{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top:  10px;
    padding-bottom: 30px;
}
.vision{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about{
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    font-size: 13px;
}
.solution{
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 35px;
    justify-content: center;
}
.it_hub{
    font-family: "Inter-Regular", Helvetica;
    line-height: 25px;
}
.more{
    display: inline;
    color: #ffffff;
    background-color: blue;
    font-family: "Poppins-Bold", Helvetica;
    border-radius: 5px;
    padding: 8px;
}
.solution{
    display: flex;
    flex-direction: column;
}
.solution{
    font-family: "Poppins-SemiBold";
    font-size: 40px;
    text-align: center;
}
.it_hub2{
    font-family: "Inter-Regular", Helvetica;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
.contain{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    margin: 20px;
    align-items: center;
  
}
.image_container_2 img{
    height: 150px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.sol{
    display: inline;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 50px;

    padding: 15px;
    font-weight: bolder;
    font-size: 19px;
}
.hubs2{
    text-align: center;
    font-family: "Inter-Regular", Helvetica;
    line-height: 18px;
    font-weight: bolder;
}
.services{
    display: flex;
    flex-direction: column;
    font-family: "DM Sans-Medium", Helvetica;
    justify-content: center;
}
.service{
    display: inline;
    text-align: center;
    justify-content: center;
}
.cont{
    justify-content: center;
    background: rgba(black, 0.5);
}
.line{
    display: flex;
    flex-direction: row;
    gap: 20;
    flex-wrap: nowrap;
    padding: 20px;
    margin: 30px;
    
}
.products{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    text-align: center;
    padding: 20px;
    margin: 30px;
    border-radius: 8px;
}
.product{
    font-weight: bold;
    font-size: 25px;
}
.learn{
    display:inline;
    color: white;
    padding: 18px;
    background-color: blue;
    font-size: 20px;
}
.satisfied{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    font-family: "Merriweather-Light", Helvetica;
    margin: 60px;
    text-align: center;
    background-color: blue;
    color: white;
    padding: 50px;
}
.review{
    font-size: 29px;
    font-weight: bolder;
}
.details{
    font-weight: 400;
    font-size: 23px;
}
.customer{
    font-weight: 300;
    font-size: 15px;
}
.gist{
    display: flex;
    flex-direction: column;
    font-family: "Poppins-Bold", Helvetica;
    text-align: center;
    border: 1px solid black;
}
.news{
    font-size: 25px;
    font-weight: 700;
}
.new{
    display: flex;
    flex-direction: row; 
}
.last_article{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    margin: 20px;
}
.last_article img{
    height: 150px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.Glass{
    background: url(/Asset/Glass\ building.jpg);
    height: 400px;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Poppins-Bold", Helvetica;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    opacity: 0.8;
}
.ready{
    font-size: 35px;
}
.deliver{
    font-size: 15px;
    margin-bottom: 50px;
}
.contact{
    display: inline;
    font-size: 13px;
    padding: 15px 25px;
    margin-top: 50px;
    color: white;
    background-color: blue;
    border-radius: 25px;
}
/* design for the footer */
.end{
    font-family: "Barlow-Regular", Helvetica;
    display: flex;
    flex-direction: column;
}
.end img{
    margin: 40px;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer_tag{
    display: flex;
    flex-direction: row;
}
.footer_tags{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 40px;
    
}
.tags{
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    line-height: 40px;
}
.footer_link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer_links{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 30;
    margin-right: 40px;
}
.copyright{
    display: flex;
    justify-content: flex-end;
    font-weight: 100;
}

/* Media Queries */

@media (min-width: 768px) { 

 }